---
import { Image } from 'astro:assets'
import { pages } from '../../pages'
import logo from '../../img/logos/primary-dark.png'

const url = Astro.url.pathname
---

<header class={`lg:sticky lg:top-0 backdrop-blur-md bg-[#fffd] w-full z-10`}>
  <nav
    aria-label="Main navigation"
    class="flex items-center justify-center lg:justify-between lg:px-0 lg:py-0"
    x-data="{ isOpen: false, childOpen: [] }"
    x-on:click.away="isOpen = false"
    x-on:keydown.escape="isOpen = false"
  >
    <!--Logo etc-->
    <div
      class="flex items-center p-4 pr-20 hero-img after:bg-brand before:bg-brand"
    >
      <a href="/" class="text-indigo-500 font-bold text-lg">
        <Image
          src={logo}
          class="max-h-24 max-w-none w-auto"
          alt="Irondequoit Democratic Committee"
        />
      </a>
    </div>

    <!--Toggle button (hidden on large screens)-->
    <button
      x-on:click="isOpen = !isOpen"
      type="button"
      class="z-10 ml-auto block lg:hidden p-6 px-2 text-primary-500 hover:text-primary-500 focus:text-primary-500"
      x-bind:class="{ 'transition transform-180': isOpen }"
      x-bind:aria-expanded="isOpen ? 'true' : 'false'"
      aria-label="Menu"
    >
      <svg
        class="h-10 w-10 fill-current"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          x-show="isOpen"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
        ></path>
        <path
          x-show="!isOpen"
          fill-rule="evenodd"
          d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
        ></path>
      </svg>
    </button>

    <!--Menu-->
    <div
      class=`
        flex-grow
        absolute
        max-lg:bg-brand
        p-6
        right-0
        top-0
        w-3/4
        max-w-full
        backdrop
        lg:w-full
        lg:flex
        lg:items-center
        lg:w-auto
        lg:static
        lg:text-center
        max-lg:h-screen
        max-lg:pt-16
      `
      x-bind:class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
      x-show.transition="true"
    >
      <ul
        class=`
          pt-6
          list-reset
          list-none
          justify-end
          flex-1
          items-center
          mb-0
          lg:flex
          lg:pt-0
        `
      >
        {
          pages.map((item) => {
            const isCurrent = item.href === url
            return (
              <li
                class={`
                ml-0
                mr-3
                group
                text-left
                max-lg:border-b-2
              border-brand
                divide-y-0
              `}
              >
                <a
                  x-on:click="isOpen = false"
                  class={`
                      text-base
                      font-normal
                      block
                      no-underline
                      py-2
                      px-4
                      select-none
                      text-white
                      hover:text-gray-300
                      focus:text-gray-300
                      lg:text-lg
                      lg:font-semibold
                      lg:text-gray-500
                      lg:hover:text-indigo-500
                      lg:focus:text-indigo-500
                      ${isCurrent ? 'text-brand' : ''}
                    `}
                  aria-current={isCurrent ? 'page' : undefined}
                  href={item.href}
                >
                  {item.name}{' '}
                  {item.children && (
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="ml-1 w-4 h-4 inline-block pointer-events-none"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m19.5 8.25-7.5 7.5-7.5-7.5"
                      />
                    </svg>
                  )}
                </a>
                {item.children && (
                  <ul
                    class={`
                    hidden
                    group-hover:block
                    group-focus-within:block
                    lg:absolute
                    text-left
                    list-reset
                    list-none
                    lg:shadow-lg
                  lg:bg-white
                  `}
                  >
                    {item.children.map((child) => {
                      const isCurrent = child.href === url
                      return (
                        <li class="">
                          <a
                            x-on:click="isOpen = false"
                            class={`
                              text-ml
                              block
                              no-underline
                              py-2
                              px-4
                              text-white
                              hover:text-gray-300
                              focus:text-gray-300
                              lg:text-gray-500
                              lg:hover:text-gray-400
                              lg:focus:text-indigo-400
                              ${isCurrent ? 'text-brand' : ''}
                            `}
                            aria-current={isCurrent ? 'page' : undefined}
                            href={child.href}
                          >
                            {child.name}
                          </a>
                        </li>
                      )
                    })}
                  </ul>
                )}
              </li>
            )
          })
        }
      </ul>
      <div>
        <a
          class={`
          relative
          top-6
          lg:top-1
          mb-3
          py-2
          px-4
          rounded-md
          text-ml
          inline-block
          no-underline
          focus:text-gray-200
          select-none
          text-white
          hover:text-gray-800
          bg-brand-light
          hover:bg-white
          lg:bg-brand
          lg:hover:bg-brand-light
          lg:hover:text-white
          lg:mt-0
          `}
          href="https://secure.actblue.com/donate/idc">Donate to the IDC</a
        >
      </div>
      <div
        class={`
          mt-12
          social-container
          lg:hidden
        `}
      >
        <a
          href="https://facebook.com/irondequoitdemcommittee"
          class="bg-[#fff3]"
        >
          <svg
            class="inline-block"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="#ffffff"
          >
            <path
              d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"
            ></path>
          </svg>
        </a>
        <a href="https://twitter.com/irondequoitdems" class="bg-[#fff3]">
          <svg
            class="inline-block"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            width="32px"
            height="32px"
            fill="#ffffff"
            ><path
              d="M 28 8.558594 C 27.117188 8.949219 26.167969 9.214844 25.171875 9.332031 C 26.1875 8.722656 26.96875 7.757813 27.335938 6.609375 C 26.386719 7.171875 25.332031 7.582031 24.210938 7.804688 C 23.3125 6.847656 22.03125 6.246094 20.617188 6.246094 C 17.898438 6.246094 15.691406 8.453125 15.691406 11.171875 C 15.691406 11.558594 15.734375 11.933594 15.820313 12.292969 C 11.726563 12.089844 8.097656 10.128906 5.671875 7.148438 C 5.246094 7.875 5.003906 8.722656 5.003906 9.625 C 5.003906 11.332031 5.871094 12.839844 7.195313 13.722656 C 6.386719 13.695313 5.628906 13.476563 4.964844 13.105469 C 4.964844 13.128906 4.964844 13.148438 4.964844 13.167969 C 4.964844 15.554688 6.660156 17.546875 8.914063 17.996094 C 8.5 18.109375 8.066406 18.171875 7.617188 18.171875 C 7.300781 18.171875 6.988281 18.140625 6.691406 18.082031 C 7.316406 20.039063 9.136719 21.460938 11.289063 21.503906 C 9.605469 22.824219 7.480469 23.609375 5.175781 23.609375 C 4.777344 23.609375 4.386719 23.585938 4 23.539063 C 6.179688 24.9375 8.765625 25.753906 11.546875 25.753906 C 20.605469 25.753906 25.558594 18.25 25.558594 11.742188 C 25.558594 11.53125 25.550781 11.316406 25.542969 11.105469 C 26.503906 10.410156 27.339844 9.542969 28 8.558594 Z"
            ></path></svg
          >
        </a>
      </div>
    </div>
  </nav>
</header>
