---
import { Image } from 'astro:assets'
import { pages } from '../pages'
import logo from '../img/logos/primary-dark.png'

const url = Astro.url.pathname
---

<header class={`lg:sticky lg:top-0 backdrop-blur-md bg-[#fffd] w-full z-10`}>
  <nav
    aria-label="Main navigation"
    class="flex items-center justify-center lg:justify-between lg:px-0 lg:py-0"
    x-data="{ isOpen: false, childOpen: [] }"
    x-on:click.away="isOpen = false"
    x-on:keydown.escape="isOpen = false"
  >
    <!--Logo etc-->
    <div
      class="flex items-center p-4 pr-20 hero-img after:bg-brand before:bg-brand"
    >
      <a href="/" class="text-indigo-500 font-bold text-lg">
        <Image
          src={logo}
          class="max-h-24 max-w-none w-auto"
          alt="Irondequoit Democratic Committee"
        />
      </a>
    </div>

    <!--Toggle button (hidden on large screens)-->
    <button
      x-on:click="isOpen = !isOpen"
      type="button"
      class="z-10 ml-auto block lg:hidden p-6 px-2 text-primary-500 hover:text-primary-500 focus:text-primary-500"
      x-bind:class="{ 'transition transform-180': isOpen }"
      x-bind:aria-expanded="isOpen ? 'true' : 'false'"
      aria-label="Menu"
    >
      <svg
        class="h-10 w-10 fill-current"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          x-show="isOpen"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
        ></path>
        <path
          x-show="!isOpen"
          fill-rule="evenodd"
          d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
        ></path>
      </svg>
    </button>

    <!--Menu-->
    <div
      class="flex-grow absolute max-lg:bg-white p-6 right-0 top-0 max-lg:h-screen max-lg:pt-16 w-3/4 max-w-full lg:w-full lg:flex lg:items-center lg:w-auto lg:static text-center backdrop"
      x-bind:class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
      x-show.transition="true"
    >
      <ul
        class="pt-6 lg:pt-0 list-reset list-none lg:flex justify-end flex-1 items-center"
      >
        {
          pages.map((item) => {
            const isCurrent = item.href === url
            return (
              <li class="mr-3 group text-left max-lg:border-b-2 border-brand">
                <a
                  x-on:click="isOpen = false"
                  class={`text-ml block text-gray-500 no-underline hover:text-indigo-500 focus:text-indigo-500 py-2 px-4 select-none ${
                    isCurrent ? 'text-brand' : ''
                  }`}
                  aria-current={isCurrent ? 'page' : undefined}
                  href={item.href}
                >
                  {item.name}{' '}
                  {item.children && (
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="ml-1 w-4 h-4 inline-block pointer-events-none"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="m19.5 8.25-7.5 7.5-7.5-7.5"
                      />
                    </svg>
                  )}
                </a>
                {item.children && (
                  <ul class="hidden group-hover:block group-focus-within:block lg:absolute text-left list-reset list-none shadow-lg bg-white">
                    {item.children.map((child) => {
                      const isCurrent = child.href === url
                      return (
                        <li class="">
                          <a
                            x-on:click="isOpen = false"
                            class={`text-ml block no-underline text-gray-800 hover:text-gray-600 focus:text-gray-600 text-gray-500 lg:hover:text-gray-400 lg:focus:text-indigo-400 py-2 px-4 ${
                              isCurrent ? 'text-brand' : ''
                            }`}
                            aria-current={isCurrent ? 'page' : undefined}
                            href={child.href}
                          >
                            {child.name}
                          </a>
                        </li>
                      )
                    })}
                  </ul>
                )}
              </li>
            )
          })
        }
      </ul>
      <a
        class="mt-6 mb-3 lg:mt-0 py-2 px-4 rounded-md text-ml block text-white no-underline focus:text-gray-200 select-none bg-brand hover:bg-brand-light"
        href="https://secure.actblue.com/donate/idc">Donate to the IDC</a
      >
    </div>
  </nav>
</header>
