---
import { Image } from 'astro:assets'
export interface Props {
  title: string
  headingLevel?: 1 | 2 | 3 | 4 | 5 | 6
  body?: string
  href?: string
  img?: {
    widths?: number[]
    img: ImageMetadata
    alt: string
  }
  links?: { url: string; title: string }[]
}

const { href, title, body, headingLevel = 2, img, links } = Astro.props
const Heading = `h${headingLevel}` as const
const Link = href ? 'a' : 'div'
---

<Link href={href} class="inline-grid auto-rows-min items-center w-full">
  <Heading class="text-lg font-light row-start-2 p-0 m-0">
    {title}
  </Heading>
  <div
    class="aspect-square rounded-lg overflow-hidden w-full bg-gradient-to-br to-white from-brand-light mb-2"
  >
    {
      img && (
        <Image
          src={img.img}
          alt={img.alt}
          sizes=""
          class="w-full"
        />
      )
    }
  </div>
  {body && <p>{body}</p>}
  {links && (
    <ul class="list-none m-0 p-0 w-100% flex gap-x-2 flex-wrap">
      {links.map((link) => (
        <li class="m-0 p-0 inline-block"><a href={link.url}>{link.title}</a></li>
      ))}
    </ul>
  )}
</Link>
